{% extends 'includes/base.html'%}
{% load static %}
{% block content%}

{% include 'includes/header.html' %}


    <!-- student projects -->
    <div class="container mt-3 student-project">
      <h1 class="text-center mb-5">Our Students’ Projects</h1>

      <!-- Masonry Grid -->
      <div class="row" data-masonry='{"percentPosition": true }'>
        
        <!-- Card 1 -->
        {% if projects %}
        {% for project in projects %}
        <div class="col-sm-6 col-lg-4 mb-4">
          <div class="card">
            <img src="{{ project.thumbnail.url }}" alt="" width="100%" height="200">
            <div class="card-body">
              <h5 class="card-title">{{project.name}}</h5>
              <p class="card-text">{{project.description|truncatechars:200}}</p>
              <a href="{{project.project_url}}">View</a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="text-center">No Projects Here</p>
        {% endif %}
      </div>
    </div>

    {% include 'includes/footer.html' %}


    {% endblock %}
