{% extends 'includes/base.html'%}
{% load static %}
{% block content%}

{% include 'includes/header.html' %}
<div class="container">
 <div class="d-flex justify-content-center align-items-center">
    <div class="card center" style="width: 30rem;">
        <div class="card-body">
            <main class="form-signin container">
            <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <img class="mb-4" src="{% static 'assets/img/livewirelogo.png' %}" alt="" width="150"height="57"/>
                <!-- message here -->
                {% if messages %}
                 {% for message in messages%}
                    {% if message.tags in "error"%}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% else%}
                     <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                     </div>
                    {% endif %}
                {% endfor %}
                {% endif%}
                

                <!-- error message -->
                 {% for field in form %}
                    {% if field.errors %}
                        <div class="alert alert-danger" role="alert">
                           {{field.label_tag}}
                           {% for error_msg in field.errors %}
                                {{ error_msg }}
                           {% endfor %}
                        </div>
                    {% endif %}
                  {% endfor %}
                <h1 class="h3 mb-3 fw-normal">Enroll Your Python Journey</h1>
                <div class="form-floating mt-2">
                <input type="text" class="form-control" id="floatingInput" placeholder="Jhon" name="name"/>
                <label for="floatingInput">Name</label>
                </div>
                <div class="form-floating mt-2">
                <input type="text" class="form-control" id="floatingInput" placeholder="Jhon@gmail.com" name="email"/>
                <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating mt-2">
                <input type="text" class="form-control" id="floatingInput" placeholder="91 2342362323" name="phone"/>
                <label for="floatingInput">Phone</label>
                </div>
                <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Address</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="address"></textarea>
                </div>
                <select class="form-select" aria-label="Default select example" name="course">
                    <option selected>Select Your Python course</option>
                    <option value="Python Basic">Python Basic</option>
                    <option value="Python Advanced">Python Advanced</option>
                    <option value="Django Full-Stack">Django Full-Stack</option>
                </select>
                <div class="mb-3">
                    <label for="formFile" class="form-label"> Upload Adhaar card</label>
                    <input class="form-control" type="file" id="formFile" name="adhaarcard">
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label"> Upload Your Photo</label>
                    <input class="form-control" type="file" id="formFile" name="photo">
                </div>
                <button class="btn btn-primary w-100 py-2 mt-2" type="submit">
                Enroll now
                </button>
            </form>
            </main>
        </div>
    </div>
</div>
</div>
 {% include 'includes/footer.html' %}

{% endblock %}
