.nav-bar{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.hero-bg {
  --animate-duration: 9.0s;
}

.container-fluid{
  background-color: rgb(230, 220, 207);
}

.course-for h1{
  color: rgb(21, 21, 48);
}

.card{
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.student-project h1{
   color: rgb(21, 21, 48);
}

h1{
   color: rgb(21, 21, 48);
}