
{% load static %}
<!-- nav bar -->
    <div class="container-fluid pt-3 pb-3 nav-bar sticky-top bg-white">
        <div class="d-flex justify-content-between">
            <div class="logo ms-2">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'assets/img/livewirelogo.png' %}" alt="Bootstrap" width="152" height="50">
                </a>
            </div>
            <div class="enroll-btn md-2">
                 {% if not user.is_authenticated %}
                  <a class="btn btn-primary" href="{% url 'livewire:signin' %}" role="button">Sign in</a>
                  {% else %}
                <a class="btn btn-danger" href="{%url 'livewire:enroll' %}" role="button">Enroll Now</a>
                <a class="btn btn-danger" href="{% url 'livewire:signout' %}" role="button"><i class="bi bi-box-arrow-right"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
